/* Стиль для всего тела */
body {
    /* цвет фона */
    background-color: rgb(70, 70, 70);
    /* Семейство шрифтов, применяемое ко всем элементам, внутри body */
    font-family: 'Roboto', sans-serif;

    margin: 0;
}

/* стиль для заголовков 2 уровня */
h2 {
    color: brown;
    font-family: 'Roboto', sans-serif;

    text-align: center;
}


/* стиль для div основного контента  */
.content {
    /* устанавливает ширину блока как 800px */
    width: 800px; 
    /* Устанавливает фоновый цвет как блевый */
    background-color: white;
    /* выравнивает блок по центру */
    margin: 0 auto;
    /* Внутренние отступы, которые ставятся вокруг содержимого элемента. В данном случае: 20px слева, 50px сверху и снизу и 50px справа */
    padding: 70px 50px 50px;
    /* добавляет серую тень блоку */
    box-shadow: 1px 1px 9px 1px rgba(145,145,145,1);

    /* цвет для текста */
    color: rgb(22, 22, 22);
}

/* info */
.info__item:first-child {
    padding-bottom: 10px;
}

.info__item:nth-child(2) {
    width: 720px;
}

/* Стиль для флекс-контейнера, в котором будут статьи */
.content2 {
    /* устанавливает для блока и его внутренних элементов режим отображения элементов как flex */
    display: flex;
}

/* Стиль для левой части статьи */
.st1 {
    /* Ширина блока */
    width: 48%;
    /* внешний отступ от правого края блока */
    margin-right: 22px;
}

/* Стиль для правой части статьи */
.st2 {
    /* Ширина 48% от флекс контейнера */
    width: 48%; 
    /* Отступы от края блока со статьёй: 0 отступа вверх, автоматический отступ справа, 0 вниз и 0.7 см влево */
    margin: 0 auto 0 0.7cm;
}

ul {
    padding-left: 15px; 
}

li {
    padding-left: 20px;
}

.info ul {
    margin: 15px 0;
}

.info li {
    padding-bottom: 5px;
}


.content2 ul {
    margin: 0;
}
/* Стиль для маркированных списков для статей во флекс-контейнере */
.content2 li {
    /* отступы для каждого li элемента */
    /* 0.5em от верхнего края (em - величина, измеряющая расстояния относительно размера шрифта. 1em - размер текущего шрифта, 0.5em - половина размера текущего шрифта) */
    margin-top: 0.5em;
    /* 1em от нижнего края */
    margin-bottom: 0.7em;
}

.st1 p:first-child {
    margin: 0;
    padding: 0;
}

/* footer */
.wrapper {
    display: flex;
    justify-content: space-between;
}

.item {
    font-size: 20px;
}

.item p {
    padding: 0px;
    margin: 0;
}